@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,700&family=Ubuntu:wght@500&display=swap');
header {
  background-color: #2e2c2c;
  display: block;
  text-align: center;
  padding: 3.5px 0;
  margin: 0;
  position: static;
}
nav {
  align-items: center;
  text-align: center;
}
p {
  color: #c4c4c4;
}
span{
  color:#cde400;
}
a {
  font-family:  'Ubuntu', sans-serif, Bahnschrift;
  color: #c4c4c4;
  text-decoration: none;
  transition: 0, 3s ease-out;
}

body {
  background-color: rgb(34, 33, 33);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: center;
}

.menu h1,
.menu h2,
.menu h3 {
  font-family: 'Prompt', sans-serif;
  color: #f1eb3b;
  padding: 1vh;
  letter-spacing: 1px;
}

.menu ul {
  list-style: none;
  padding: 0.2em;
  text-align: center;
}
.menu ul li {
  letter-spacing: 1.7px;
  padding: 0.5em;
  margin-right: 0;
}

.menu {
  width: 10%;
  padding: 2vh;
  position: absolute;
  font-size: 0.8em;
  background-color: #23232e;
  flex-direction: column;
  display: flex;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in;
}

.menu:not(:hover) .bmenu {
  position:  absolute;
  display: block;
  cursor: pointer;
  padding-top: 4px;
  background-color: #2e2c2c;
  border-radius: 5%;
  transform: translateX(300%);
  transition: transform 0.3s ease-in;
}

.menu:hover {
  transform: translateX(0);
  transition: transform 0.3s ease-in;
}

.menu:hover .bmenu {
  transform: translateX(0);
  padding-top: 4px;
  position: absolute;
  display: block;
  cursor: pointer;
  transition: transform 0.3s ease-in;
}

.separador {
  display: block;
  width: 62px;
  height: 1.5px;
  margin: 0 auto;
  border-radius: 6px;
  background-color: #fff;
}

.bmenu div {
  width: 32px;
  height: 3px;
  background-color: #fff;
  margin: 8px;
}
